.container{
    border: 1px solid dodgerblue;
}

.container-fluid{
    border: 1px solid lime;
}

header{
    min-height: 80px;
    background-color: #2C3E50;
}

section{
    min-height: 500px;
}

#jumbotron{
    background-color: #1ABC9C;
}

#jumbotron-avatar{
    width: 300px;
    height: 300px;
}