/* Utilities */

.container{
    /* border: 1px solid dodgerblue; */
}

.container-fluid{
    /* border: 1px solid lime; */
}

img {
    max-width: 100%;
}

section{
    min-height: 500px;
}

.bg-green,.text-green{
    background-color: #1ABC9C;
    color: #1ABC9C;
}

.clickable{
    cursor: pointer;
}

/* .bi-dash-lg{
    font-size: 100px;
}

/* :root{
    --blue: #3A546D;
    --light-green: #1ABC9C;
    --dark-blue: #2C3E50;
} */

/* Header */

header{
    min-height: 70px;
    background-color: #2C3E50;
}

/* Jumbotron */

#jumbotron{
    background-color: #1ABC9C;
}

#jumbotron-avatar{
    width: 300px;
    height: 300px;
}

/* Portfolio */

#portfolio img{
    margin: 10px 0;
}

/* About */

#about{
    background-color: #1ABC9C;
}

/* Contact Me */

#contact-me .form-control{
    border: 0;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    font-size: 1.5em;
}

#contact-me .btn{
    width: 80px;
}

/* Footer */

#upper-footer{
    background-color: #3A546D;
    min-height: 150px;
}

#bottom-footer{
    background-color: #2C3E50;
    min-height: 60px;
}

.footer-logo{
    font-size: 20px;
}